.l{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.bg
{
    background-color: rgb(67, 227, 255);
    height: cover;
    width: cover;
    padding: 15px;
    border-radius: 20px;
}

.c{
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 30px;
}

.pd{
    text-align: left;
    padding: 1px;
    padding-left: 10px;
    background-color: rgb(204, 214, 25);
    border-radius: 10px;
    margin-bottom: 20px;
}