.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(15,1fr);
    gap:5px;
}
.header{
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    background-color: lightblue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 3 / 14;
    background-color: lightgreen;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    grid-column: 2 / 3;
    grid-row: 3 / 14;
    background-color: lightcoral;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adsbar{
    grid-column: 3 / 4;
    grid-row: 3 / 14;
    background-color: lightgoldenrodyellow;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    grid-column: 1 / 4;
    grid-row:  14 / 15;
    background-color: lightgray;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
